##############
# cake cache #
##############
/app/tmp/cache/*
!/app/tmp/cache/empty
!/app/tmp/cache/models/empty
!/app/tmp/cache/persistent/empty
!/app/tmp/cache/views/empty
/app/tmp/logs/*
!/app/tmp/logs/empty
/app/tmp/sessions/*
!/app/tmp/sessions/empty
/app/tmp/tests/*
!/app/tmp/tests/empty

##############
# cms config #
##############
/app/Config/config.php
/app/Config/database.php
/app/config/email.php

##########
# medias #
##########
/app/webroot/files/uploads/
/app/webroot/files/thumbs/

##########
# themes #
##########
/app/View/Themed/*
!/app/View/Themed/empty